Repository hyperledger/aries-vcx, pull requests merged in 2023-01, with the labels that each got.

#715 Remove public agent
  agents/node/vcxagent-core/src/agent.js
  agents/node/vcxagent-core/src/services/service-out-of-band.js
  agents/node/vcxagent-core/src/services/service-public-agents.js
  agents/node/vcxagent-core/src/storage/storage-service.js
  agents/node/vcxagent-core/test/nonmediated-endpoint.spec.js
  agents/node/vcxagent-core/test/out-of-band.spec.js
  agents/node/vcxagent-core/test/utils/faber.js
  agents/node/vcxagent-core/test/utils/utils.js
  agents/rust/aries-vcx-agent/src/services/mediated_connection.rs
  aries_vcx/src/handlers/connection/mediated_connection.rs
  aries_vcx/src/handlers/connection/mod.rs
  aries_vcx/src/handlers/connection/public_agent.rs
  aries_vcx/tests/test_connection.rs
  aries_vcx/tests/utils/devsetup_agent.rs
  aries_vcx/tests/utils/scenarios.rs
  libvcx/src/api_c/agent.rs
  libvcx/src/api_c/mod.rs
  libvcx/src/api_c/protocols/mediated_connection.rs
  libvcx/src/api_vcx/api_handle/agent.rs
  libvcx/src/api_vcx/api_handle/mediated_connection.rs
  libvcx/src/api_vcx/api_handle/mod.rs
  libvcx/src/errors/error.rs
  libvcx/src/errors/mapping_to_u32.rs
  wrappers/ios/vcx/VcxAPI.h
  wrappers/ios/vcx/VcxAPI.m
  wrappers/ios/vcx/include/libvcx.h
  wrappers/node/src/api/mediated-connection.ts
  wrappers/node/src/api/public-agent.ts
  wrappers/node/src/index.ts
  wrappers/node/src/rustlib.ts
Labels: refactoring, wrappers, breaking, agents

#717 Nonmediated connection (de)serialization
  .github/actions/setup-testing-nodejs/action.yml
  aries_vcx/src/common/proofs/prover/prover.rs
  aries_vcx/src/common/proofs/verifier/verifier.rs
  aries_vcx/src/handlers/connection/connection.rs
  aries_vcx/src/handlers/connection/mediated_connection.rs
  aries_vcx/src/indy/proofs/prover/prover.rs
  aries_vcx/src/protocols/connection/invitee/state_machine.rs
  aries_vcx/src/protocols/connection/inviter/state_machine.rs
  aries_vcx/src/utils/mockdata/mockdata_connection.rs
  aries_vcx/src/utils/mockdata/mockdata_mediated_connection.rs
  aries_vcx/src/utils/mockdata/mod.rs
  aries_vcx/src/utils/mod.rs
  libvcx/Cargo.toml
  libvcx/src/api_c/protocols/mediated_connection.rs
  libvcx/src/api_vcx/api_global/profile.rs
  libvcx/src/api_vcx/api_handle/credential.rs
  libvcx/src/api_vcx/api_handle/disclosed_proof.rs
  libvcx/src/api_vcx/api_handle/issuer_credential.rs
  libvcx/src/api_vcx/api_handle/mediated_connection.rs
Labels: feature

#723 Remove usage of vdrtools's ffi_api feature
  aries_vcx/Cargo.toml
  libvcx/Cargo.toml
  wrappers/ios/ci/build.sh
  wrappers/ios/vcx/VcxAPI.m
  wrappers/ios/vcx/include/indy_crypto.h
  wrappers/ios/vcx/include/indy_ledger.h
  wrappers/ios/vcx/include/indy_mod.h
  wrappers/ios/vcx/include/indy_types.h
  wrappers/ios/vcx/include/libvcx.h
  wrappers/ios/vcx/utils/IndyCallbacks.h
  wrappers/ios/vcx/utils/IndyCallbacks.m
  wrappers/ios/vcx/utils/IndySdk.h
  wrappers/ios/vcx/utils/IndySdk.m
  wrappers/ios/vcx/utils/IndyTypes.h
  wrappers/ios/vcx/utils/VcxCallbacks.mm
  wrappers/ios/vcx/utils/VcxLogger.h
  wrappers/ios/vcx/utils/VcxTypes.h
  wrappers/ios/vcx/vcx-demoTests/vcx_demoTests.m
  wrappers/ios/vcx/vcx.xcodeproj/project.pbxproj
  wrappers/ios/vcx/vcx.xcodeproj/project.xcworkspace/xcuserdata/abps823.xcuserdatad/UserInterfaceState.xcuserstate
  wrappers/ios/vcx/vcx.xcodeproj/xcuserdata/abps823.xcuserdatad/xcschemes/xcschememanagement.plist
  wrappers/ios/vcx/vcx/vcx.h
  wrappers/ios_legacy/ci/build.sh
  wrappers/ios_legacy/vcx/include/indy_crypto.h
  wrappers/ios_legacy/vcx/include/indy_ledger.h
  wrappers/ios_legacy/vcx/include/indy_mod.h
  wrappers/ios_legacy/vcx/include/indy_types.h
  wrappers/ios_legacy/vcx/utils/IndyCallbacks.h
  wrappers/ios_legacy/vcx/utils/IndyCallbacks.m
  wrappers/ios_legacy/vcx/utils/IndySdk.h
  wrappers/ios_legacy/vcx/utils/IndySdk.m
  wrappers/ios_legacy/vcx/utils/IndyTypes.h
  wrappers/ios_legacy/vcx/utils/NSError+VcxError.m
  wrappers/ios_legacy/vcx/utils/VcxCallbacks.mm
  wrappers/ios_legacy/vcx/vcx-demoTests/vcx_demoTests.m
  wrappers/ios_legacy/vcx/vcx.xcodeproj/project.pbxproj
  wrappers/ios_legacy/vcx/vcx.xcodeproj/project.xcworkspace/xcuserdata/abps823.xcuserdatad/UserInterfaceState.xcuserstate
  wrappers/ios_legacy/vcx/vcx.xcodeproj/xcuserdata/abps823.xcuserdatad/xcschemes/xcschememanagement.plist
  wrappers/ios_legacy/vcx/vcx/vcx.h
Labels: skip-android

#729 Revert hiding mocking behind test_utils feature flag
  .github/actions/setup-testing-nodejs/action.yml
  Cargo.lock
  aries_vcx/src/common/proofs/prover/prover.rs
  aries_vcx/src/common/proofs/verifier/verifier.rs
  aries_vcx/src/indy/anoncreds.rs
  aries_vcx/src/plugins/ledger/indy_vdr_ledger.rs
  aries_vcx/src/utils/mod.rs
  aries_vcx/tests/test_pool.rs
  libvcx/src/api_vcx/api_global/profile.rs
  libvcx/src/api_vcx/api_handle/credential.rs
  libvcx/src/api_vcx/api_handle/disclosed_proof.rs
Labels: hotfix, tests

#720 CI: Do not use deprecated set-output, update artifact publishing action
  .github/actions/upload-docker-logs/action.yml
  .github/workflows/main.yml
Labels: skip-ios, skip-android

#738 Expose nonmediated connection in node wrapper
  agents/node/vcxagent-core/package.json
  agents/node/vcxagent-core/src/agent.js
  agents/node/vcxagent-core/src/services/service-connections.js
  agents/node/vcxagent-core/src/services/service-nonmediated-connections.js
  agents/node/vcxagent-core/src/services/service-out-of-band.js
  agents/node/vcxagent-core/src/storage/storage-service.js
  agents/node/vcxagent-core/test/nonmediated-connection.spec.js
  agents/node/vcxagent-core/test/utils/alice.js
  agents/node/vcxagent-core/test/utils/faber.js
  agents/node/vcxagent-core/test/utils/utils.js
  agents/rust/aries-vcx-agent/src/services/connection.rs
  aries_vcx/Cargo.toml
  aries_vcx/src/handlers/connection/connection.rs
  libvcx/src/api_vcx/api_handle/connection.rs
  libvcx/src/api_vcx/api_handle/out_of_band.rs
  wrappers/node/package.json
  wrappers/node/src/api/connection.ts
  wrappers/node/src/index.ts
  wrappers/node/test/suite1/ariesvcx-connection.test.ts
  wrappers/vcx-napi-rs/Cargo.lock
  wrappers/vcx-napi-rs/index.d.ts
  wrappers/vcx-napi-rs/index.js
  wrappers/vcx-napi-rs/src/api/connection.rs
  wrappers/vcx-napi-rs/src/api/mod.rs
Labels: wrappers
